.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 150px;
  height: auto;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 5px 15px;
  border-radius: 25px;
}

.search-icon {
  margin-right: 10px;
}

.search-bar {
  background: none;
  border: none;
  color: white;
  outline: none;
}

.profile-icon {
  width: 24px;
}
